/* tslint:disable */
{{#imports}}import { {{{type}}} } from '{{{file}}}';
{{/imports}}
{{{tsComments}}}
{{#isObject}}{{>object}}{{/isObject
}}{{#isArray}}{{>array}}{{/isArray
}}{{#isEnum}}{{>enum}}{{/isEnum
}}{{#isSimple}}{{>simple}}{{/isSimple
}}